@charset "UTF-8";

/*Configurações Gerais*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #233eff;
}

head, body {
    width: 100vw;
    height: 100vh; 
    background-size: contain;
    background-repeat: no-repeat; 
}

h1 {
    color: white;
    text-shadow: 2px 2px 0px #1526a7;
    padding: 10px;
}